body {
    color: blue;
    font-family:'Helvetica Neue', Helvetica, sans-serif;;
    text-align: left;
}

h1{
    color: yellow;
    font-style: italic;
}


h2{
    color: green;
    font-size: 300%;
     text-align: right;
}

ul{
    color: violet;
    background-color: red;
}

p {
    color: grey;
    background-color: black;
    font-style: oblique;
    font-size: 100%
}
		  
		   
